<!-- Large screen size -->
<div *lg class="decklistrow" (mouseover)="color='red'" (mouseout)="color=''"
     [ngClass]="{odd: odd, even: even, first: index === 0}">

    <div class="cell img-cell">
        <div class="icon-wrap">
            <img *ngIf="deck.game === 'HS'" src="assets/images/Hearthstone_Square/{{deck.heroClass | lowercase}}.jpg" class="icon"/>
            <img *ngIf="deck.game === 'GWENT'" src="assets/icons/{{deck.faction.replace('\'', '-').replace(' ', '') | lowercase}}.svg" class="icon"/>
        </div>
    </div>
    <div class="cell img-cell">
        <div class="icon-wrap">
            <img *ngIf="deck.game === 'HS'" src="{{deck.isStandard ? 'assets/images/icons/standardicon.svg' : 'assets/images/icons/wildicon.svg'}}" class="icon"/>
            <img *ngIf="deck.game === 'GWENT'" src="assets/GwentLeaders_Square/{{deck.leader.name.replace('\'', '-').replace(' ', '') | lowercase}}.jpg" class="icon"/>
        </div>
    </div>

    <div class="cell title-cell">
        <h5 [ngClass]="color">{{deck.title}}</h5>
        <div style="width:100%"></div>
        <p class="b2 grey">by {{deck.author.username}}</p>
    </div>
    <div *ngIf="showTier" class="cell data-cell-1">
        <div class="b2">{{deck.tier}}</div>
    </div>
    <div class="cell data-cell-4">
        <div class="b2 resource" [ngClass]="{'hs-resource': deck.game === 'HS', 'gwent-resource': deck.game === 'GWENT'}">{{dustCost}}</div>
    </div>
    <!--<div class="cell date-cell"><div class="b2">{{formatDate(deck.editDate || deck.date)}}</div></div>-->
    <div class="cell date-cell">
        <div class="b2">{{displayDate || ((deck.editDate || deck.date) | date:'MMM d, y')}}</div>
    </div>

</div>

<!-- Small & medium screen size -->

<div *showItBootstrap="['md','sm']" class="decklistrow" (mouseover)="color='red'" (mouseout)="color=''"
     [ngClass]="{odd: odd, even: even, first: index === 0}">
    <div class="cell title-cell">
        <h5 [ngClass]="color">{{deck.title}}</h5>
        <div style="width:100%"></div>
        <p class="b2 grey">by {{deck.author.username}}</p>
    </div>
    <div class="cell img-cell">
        <div class="icon-wrap">
            <img src="assets/images/Hearthstone_Square/{{deck.heroClass | lowercase}}.jpg" class="icon"/>
        </div>
    </div>
    <div class="cell img-cell">
        <div class="icon-wrap">
            <img src="{{deck.isStandard ? 'assets/images/icons/standardicon.svg' : 'assets/images/icons/wildicon.svg'}}" class="icon"/>
        </div>
    </div>

    <div *ngIf="showTier" class="cell data-cell-1">
        <div class="b2">Tier: {{deck.tier}}</div>
    </div>
    <div class="cell data-cell-4">
        <div class="b2 resource" [ngClass]="{'hs-resource': deck.game === 'HS', 'gwent-resource': deck.game === 'GWENT'}">{{dustCost}}</div>
    </div>
    <!--<div class="cell date-cell"><div class="b2">{{formatDate(deck.editDate || deck.date)}}</div></div>-->
    <div class="cell date-cell">
        <div class="b2">{{displayDate || ((deck.editDate || deck.date) | date:'MMM d, y')}}</div>
    </div>

</div>
