<a [routerLink]="[url]" class="overlay"></a>

<div class="decklistrow" (mouseover)="color='red'" (mouseout)="color=''"
     [ngClass]="{odd: odd, even: even, first: index === 0}">
    <div class="cell title-cell">
        <img src="assets/images/class/DLRCellTitleBg/{{deck.heroClass | lowercase}}.png">
        <h4 [ngClass]="color">{{deck.title}}</h4>
        <div style="width:100%"></div>
        <!--<p class="b2 grey">by {{deck.author.username}}</p>-->
    </div>
    <!--<div class="cell img-cell">-->
        <!--<div class="icon-wrap">-->
            <!--<img src="assets/images/Hearthstone_Square/{{deck.heroClass | lowercase}}.jpg" class="icon"/>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="cell img-cell">-->
        <!--<div class="icon-wrap">-->
            <!--<img src="{{deck.isStandard ? 'assets/images/icons/standardicon.svg' : 'assets/images/icons/wildicon.svg'}}" class="icon"/>-->
        <!--</div>-->
    <!--</div>-->

    <div class="cell difficulty-cell">
        <div class="icon-wrap">
            <img src="assets/icons/dificulty_{{deck.difficulty | lowercase}}.png" class="icon"/>
        </div>
    </div>

    <div *ngIf="showTier" class="cell data-cell-1">
        <div class="b2">Tier: {{deck.tier}}</div>
    </div>
    <div class="cell data-cell-4">
        <div class="b2 resource" [ngClass]="{'hs-resource': deck.game === 'HS', 'gwent-resource': deck.game === 'GWENT'}">{{dustCost}}</div>
    </div>
    <!--<div class="cell date-cell"><div class="b2">{{formatDate(deck.editDate || deck.date)}}</div></div>-->
    <div class="cell date-cell">
        <div class="b2 date"><small>Last edited:</small> {{displayDate}}</div>
    </div>
</div>
