/* Variables
================================== */
$bw: 1px; // border width

/* Tables
================================== */

:host {
    cursor: pointer;
    display: block;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.resource {
    position: relative;
}

.resource::before {
    content: '';
    display: block;
    height: 16px;
    position: absolute;
}

.gwent-resource::before {
    background: url(../../assets/icons/icon-scrap.png);
    width: 16px;
    left: -20px;
}

.hs-resource::before {
    background: url(../../assets/icons/icon-dust.png);
    width: 11px;
    left: -15px;
}

.decklistrow {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    border-left: solid $bw #E7E7E7;
    border-right: solid $bw #E7E7E7;
    border-bottom: solid $bw #E7E7E7;
    box-sizing: border-box;
    cursor: pointer;
}

.decklistrow.first {
    border-top: solid $bw #E7E7E7;
}

.cell {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    overflow: hidden; // Or flex might break
    list-style: none;
    border-left: solid $bw #E7E7E7;
}

.cell.title-cell {
    flex-flow: row wrap;
    background: none;
    position: relative;
    overflow: hidden;
    width: 100%;
    h4 {
        color: white;
        margin-bottom: -25px;
        -webkit-transition: -webkit-all 300ms; /* Safari */
        transition: all 300ms;
    }
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        z-index: -1;
        min-width: 100%;
    }
}

.cell:first-of-type {
    border: none;
}

.b2.grey {
    color: #9B9B9B
}

.red {
    color: #ef3418;
}

.cell.date-cell {
    position: relative;
    padding: 0;
    .date {
        width: 100%;
        text-align: center;
    }
}

.cell.difficulty-cell {
    padding: 0;

    .icon-wrap {
        height: 30px;
        width: 60px;
        .icon {
            height: 100%;
            width: 100%;
        }
    }
}

.decklistrow .cell:nth-of-type(3) {
    padding-left: 30px;
    padding-right: 10px;
}

@media (max-width: 767px) {
    .decklistrow {
        width: calc(100vw - 40px);
        max-width: 440px;
        height: 80px;
    }

    .cell {
        padding-left: 20px;
        padding-right: 20px;
        height: 30px;
        background: #F7F7F7;
        border-top: solid $bw #E7E7E7;
    }

    .cell.title-cell {
        max-width: 440px;
        height: 48px;
    }

    .cell.date-cell {
        flex: 1;
    }

    .cell.difficulty-cell .icon-wrap {
        height: 20px;
        width: 40px;
    }

    .img-cell:nth-child(2) {
        border-left: none;
    }

    .icon-wrap {
        width: 20px;
        height: 20px;
        .icon {
            width: 20px;
        }
    }
}

@media (min-width: 768px) {
    .decklistrow {
        width: 359px;
        height: 90px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        border-top: solid $bw #E7E7E7;
    }

    .cell {
        padding-left: 20px;
        padding-right: 20px;
        height: 40px;
        background: #F7F7F7;
        border-top: solid $bw #E7E7E7;
    }

    .cell.title-cell {
        //width: 359px;
        height: 48px;
    }

    .cell.date-cell {
        flex: 1;
    }

    .img-cell:nth-child(2) {
        border-left: none;
    }

    .icon-wrap {
        width: 30px;
        height: 30px;
        .icon {
            width: 30px;
        }
    }
}

@media (min-width: 1220px) {
    :host {
        width: 390px;
        float: left;
    }

    //:host:not(:nth-child(3n+3)) {
    //    margin-right: 20px;
    //}

    .decklistrow {
        width: 390px;
        height: 120px;
    }

    .cell {
        height: 50px;
    }

    .cell.difficulty-cell .icon-wrap {
        height: 40px;
        width: 80px;
    }

    .cell.title-cell {
        height: 68px;
        h4 {
            margin-bottom: -35px;
        }
    }

    .decklistrow .cell.img-cell {
        .icon-wrap {
            width: 40px;
            height: 40px;
            .icon {
                width: 40px;
            }
        }
    }
}
