<div class="footer-header">
    <h5>About</h5>
    <h5>Contact</h5>
    <h5>Sponsors</h5>
</div>

<div class="footer-links clearfix">
    <a href="https://www.facebook.com/Fade2Karma/" target="_blank">
        <img src="../../assets/icons/footer_facebook.svg">
    </a>
    <a href="https://twitter.com/Fade2Karma" target="_blank">
        <img src="../../assets/icons/footer_twitter.svg">
    </a>
    <a href="http://www.twitch.tv/team/fade2karma" target="_blank">
        <img src="../../assets/icons/footer_twitch.svg">
    </a>
    <a href="https://www.youtube.com/Fade2KarmaTV" target="_blank">
        <img src="../../assets/icons/footer_youtube.svg">
    </a>
</div>

<div class="footer-bottom">
    <div class="footer-policies">
        <p class="b2">Privacy Policy</p>
        <p class="b2">&bull; Cookie Policy</p>
        <p class="b2">&bull; Terms of Service</p>
    </div>

    <div class="footer-tree">
        <img src="../../images/tree.svg">
    </div>

    <div class="footer-f2k">
        <p class="b2">&copy; 2015 Fade 2 Karma</p>
    </div>
</div>
