.rating-box {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #9B9B9B;
    cursor: default;
    transition: color 500ms ease, border-color 500ms ease;
    overflow: hidden;
}

.rating-box:hover {
    border-color: #EF3418;
    color: #EF3418;
}

.rating-box.liked {
    border-color: #9B9B9B;
    color: #EF3418;
}

.rating-box.liked:hover {
    border-color: #EF3418;
    color: #EF3418;
}

.rating-angle {
    transform: scale(2,1.5);
    display: block;
    transition: transform 300ms linear, opacity 300ms linear;
}

.rating-angle.leaveup {
    transform: translateY(-100%) scale(2,1.5);
}

.rating-angle.hide {
    transition: none;
    opacity: 0;
    transform: translateY(30%) scale(2,1.5);
}

.rating-score {
    display: block;
}

@media(max-width: 1219px) {
    .rating-box {
        width: 35px;
        height: 35px;
    }
}
