.hsfilter .icons {
    float: left;
}
.hsfilter .icons img {
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    float: left;
    transition: opacity 300ms;
}
.hsfilter .icons img:hover {
    cursor: pointer;
    opacity: 0.75;
}
.hsfilter .icons img:not(:first-of-type) {
    border-left: none;
}
.hsfilter .icons img.grey {
    opacity: 0.5;
}

@media (max-width: 1219px) {
    .hsfilter .icons img {
        width: 40px;
        height: 40px;
    }
}
@media (min-width: 1220px) {
    .hsfilter .icons img {
        width: 50px;
        height: 50px;
    }
}
