<div class="F2K-column">
    <h3>OUR MISSION</h3>
    <p><span>Fade 2 Karma was founded as a Hearthstone team in June 2015 but since then has developed into something much bigger. Providing gaming and esports entertainment to people all around the globe, Fade 2 Karma has taken its place among the premier esports teams in the CCG genre while also accepting the responsibility that comes with it. </span></p>
    <p><span>Our broadcasters are role models for hundreds of thousands of people across the globe while providing a fun learning environment. We want to use that influence to present the products of our partners which will make people&rsquo;s lives happier, easier and healthier. Our mission is to grow both our team and our community and we firmly believe that being positive role models is just good karma.</span></p>
    <h3>CONTACT</h3>
    <div>
        <p><span>Tim Bergmann </span></p>
        <p><span>Managing Director </span></p>
        <p><a href="mailto:Tim@F2K.gg"><span>Tim@F2K.gg</span></a></p>
    </div>
    <div>
        <p><span>Dan Casale </span></p>
        <p><span>Director of Business Development &amp; Strategic Partnerships</span></p>
        <p><a href="mailto:Dan@F2K.gg"><span>Dan@F2K.gg</span></a></p>
    </div>
    <div>
        <p><span>Hannah Yoo</span></p>
        <p><span>Director of Operations</span></p>
        <p><a href="mailto:Hannah@F2K.gg"><span>Hannah@F2K.gg</span></a></p>
    </div>
</div>
