:host {
    display: block;
}

.deck-display {
    position: fixed;
    z-index: 9999;
}

.deck-display.left {
    transform: translateX(-100%);
}

.deck-display.top {
    transform: translateY(-100%);
}

f2k-breadcrumb {
    display: block;
}

f2k-author-tile,
.article-date,
f2k-article-rating {
    float: left;
}

.article-date {
    border: solid #E7E7E7;
    border-width: 0 1px;
}

@media (max-width: 767px) {

}

@media (min-width: 768px) {
    .cards-container:first-child {
        margin-right: 20px;
    }

    .cards-container {
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 1219px) {
    f2k-author-tile {
        padding-right: 20px;
    }
    .article-date {
        padding: 0 20px;
    }
    f2k-article-rating {
        padding-left: 20px;
    }

    .cards-containers {
        width: 728px;
        margin-bottom: 20px; /* TODO fix me*/
    }

    .cards-container {
        width: 354px;
    }

    f2kHearthstoneMana {
        float: left;
    }

    .recommended {
        float: right;
    }
}

@media (min-width: 1220px) {
    .cards-containers {
        width: 780px;
        float: left;
        margin: 40px 40px 20px 0;
    }

    .article-content {
        width: 780px;
        margin-right: 40px;
    }

    .article-info {
        width: 780px;
        border-bottom: 1px solid #E7E7E7;
    }

    .cards-container {
        width: 380px;
    }

    f2k-author-tile {
        padding-right: 40px;
    }

    .article-date {
        padding: 0 40px;
    }

    f2k-article-rating {
        padding-left: 40px;
    }

    f2kHearthstoneMana {
        margin-top: -1px;
        float: right;
    }

    .recommended {
        float: right;
    }
}
