<div class="F2K-column">
    <h1>DMCA</h1>
    <div>
        <p>It is our policy to expeditiously respond to clear notices of alleged copyright infringement that comply with the United States Digital Millennium Copyright Act (DMCA), (the text of which can be found at the U.S. Copyright Office Web Site, <a href="https://www.copyright.gov">www.copyright.gov</a>.</p>

        <p>This DMCA Policy, Notice and Takedown Procedure page describes the information that should be present in these notices. It is designed to make submitting notices of alleged infringement to Fade 2 Karma as straightforward as possible while reducing the number of notices that we receive that are fraudulent or difficult to understand or verify. If we receive proper notification (as outlined below) of claimed copyright infringement, our response to such notices will include removing or disabling access to material claimed to be the subject of infringing activity and/or terminating contributors, regardless of whether we may be liable for such infringement under United States law or the laws of another jurisdiction.</p>

        <p>If we remove or disable access in response to such a notice, we will make a good-faith attempt to contact the creator of the affected content so that they may make a counter notification pursuant to Sections 512(g)(2) and (3) of the DMCA. We may also document notices of alleged infringement on which we act.</p>

        <h3><b>INFRINGEMENT NOTIFICATION:</b></h3>

        <p>Upon receipt of proper notification of claimed infringement, Fade 2 Karma will follow the procedures outlined herein and in the DMCA.</p>

        <p>To file a notice of infringement with Fade 2 Karma, you must provide a written communication (by regular mail) that sets forth the information specified in the list below. <b>Subject to prior written agreement you may not communicate the information specified below by email.</b> Please note that you will be liable for damages (including costs and attorney’s fees) if you misrepresent that material is infringing your copyright(s). Accordingly, if you are not sure if you are the proper copyright holder or if copyright laws protect the material of yours, you may want to consult an attorney.</p>

        <p>To expedite our ability to process your request, please use the following format (including section numbers):</p>

        <ol>
            <li>Your contact information,, including your name, address, telephone number, and, if available, an email address at which you, as the complaining party, may be contacted;</li>

            <li>The statement: "I am the copyright owner or an agent authorized to act on the owner’s behalf of the following copyrighted material:"</li>

            <li>Identify with sufficient detail the copyrighted content that you believe has been infringed. (For example, "The copyrighted image at issue is the "Content Title" which can be described as "Description: literary work, image, etc" by "name of the author", including any federal registration information if available);</li>

            <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit Fade 2 Karma to locate the material;</li>

            <li>The following statement: "I have a good faith belief that use of the aforementioned material in the manner complained of is not authorized by the copyright owner, its agent, or the law";</li>

            <li>The following statement: "I swear, under penalty of perjury, that the information in the notification is accurate"; and</li>

            <li>Sign the document.</li>

            <li>Send the written communication to: Fade 2 Karma, La Rousse Mare, L'Eree, St. Peters, Guernsey, Channel Islands, GY7 9LN, United Kingdom</li>
        </ol>

        <h3><b>COUNTER NOTIFICATION</b></h3>

        <p>The provider of the allegedly infringing content may make a counter notification pursuant to sections 512(g)(2) and (3) of the Digital Millennium Copyright Act.</p>

        <p>To file a counter notification with us, you must provide a written communication (by regular mail) that sets forth the information specified in the list below. Subject to prior written agreement you may not communicate the information specified below by email. Please note that you will be liable for damages (including costs and attorneys’ fees) if you materially misrepresent that a product or activity is not infringing the copyrights of others. Accordingly, if you are not sure whether certain material infringes the copyrights of others, we suggest that you first contact an attorney. To expedite our ability to process your request, please use the following format (including section numbers):</p>

        <ol>
            <li>Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled;</li>

            <li>Your name, address, telephone number, and, if available, an email address at which you may be contacted;</li>

            <li>The following statement: "I consent to the jurisdiction of Federal District Court for the [insert the federal judicial district in which your address is located]";</li>

            <li>The following statement: "I will accept service of process from [insert the name of the person who submitted the infringement notification] or his/her agent";</li>

            <li>The following statement: "I swear, under penalty of perjury, that I have a good faith belief that the affected material was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled"; and</li>

            <li>Sign the document.</li>

            <li>Send the written communication to: Fade 2 Karma, La Rousse Mare, L'Eree, St. Peters, Guernsey, Channel Islands, GY7 9LN, United Kingdom</li>
        </ol>

        <p>Upon receipt of such counter notification, Fade 2 Karma will promptly provide the person who provided the original infringement notification with a copy of the counter notification, and inform that person that Fade 2 Karma will replace the removed material or cease disabling access to it in 10 business days. Fade 2 Karma will replace the removed material and cease disabling access to it not less than 10, nor more than 14, business days following receipt of the counter notice, unless our Designated Agent first receives notice from the person who submitted the original infringement notification that such person has filed an action seeking a court order to restrain the subscriber from engaging in infringing activity relating to the material on our system or network.</p>

        <h3><b>REPEAT INFRINGERS</b></h3>

        <p>In accordance with Section 512(i)(1)(A) of the DMCA, Fade 2 Karma will, in appropriate circumstances, disable and/or terminate the accounts of content providers who are repeat infringers.</p>
    </div>
</div>
