<h4 class="news-header">Latest News from F2K</h4>

<p class="b2">Subscribe to our newsletter for the latest F2K give aways, meta reports, decklist and news articles.</p>

<div class="news-email">
    <input type="email" placeholder="Email address" required>
    <button>SIGN UP</button>
</div>

<div class="receive-updates">
    <input type="checkbox" name="receiveUpdates">
    <p class="b2">Receive updates and special offers from F2K</p>
</div>

<div class="news-not-robot">
    <!--TODO I am not a robot thing-->
</div>

<p class="b2 mews-privacy">Privacy policy</p>
