<a [routerLink]="[url]" class="overlay"></a>

<div class="article-image-container tint">
	<!--
	INSTEAD OF IFRAME....
	IF ITS YOUTUBE DO:
	<div id="{{'youtube' + article.id}}" class="article-image"></div>
	var player;
	function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer' + article.id, {
      videoId: article.imageURL.split("/")[1]; //I will make sure format is youtube/code
    });

	//PSEUDO CODE
	on play button click do {
	  if (player.getPlayerState == 1) {    // actual code, 1 means player is playing
		player.pauseVideo();
	  } else {
	    player.playVideo();
	  }
	}
  }

	-->
    <img *ngIf="article.imageURL && (article.imageURL.indexOf('youtube') !== -1 || article.imageURL.indexOf('twitch') !== -1)" class="article-image" #img (load)="onImageLoaded(img)" [src]='getURL()'>
    <img *ngIf="article.imageURL && article.imageURL.indexOf('youtube') === -1 && article.imageURL.indexOf('twitch') === -1" class="article-image" src="{{ article.imageURL && article.imageURL.indexOf('http') !== -1 ? article.imageURL : 'assets/images/' + article.imageURL}}">
    <img *ngIf="article.imageURL && (article.imageURL.indexOf('youtube') !== -1 || article.imageURL.indexOf('twitch') !== -1)" class="f2k-play-image" src="assets/images/icons/PlayBtn.svg">
    <img *ngIf="!article.imageURL && !!heroClass" src="assets/images/hearthstoneDeckImageFallback/{{heroClass | lowercase}}.jpg" class="article-image"/>
</div>
<div class="article-text-container">
    <h6 *ngIf="articleType">{{articleType}}</h6>
    <h4>{{article.title}}</h4>
    <p class="b2 author">{{article.author.username}} &bull; {{date}}</p>
    <p *ngIf="showDescription && description" class="b2">{{description}}</p>
</div>
