<div class="article-image-container tint">
    <img class="article-image" src="{{ article.imageURL.indexOf('http') !== -1 ? article.imageURL : 'assets/images/' + article.imageURL}}">
    <!--<i class="fa fa-play-circle-o f2k-play-image" aria-hidden="true" style="font-size: 33px;"></i>-->
    <img *ngIf="article.imageURL.indexOf('youtube')" class="f2k-play-image" src="assets/images/icons/PlayBtn.svg">
</div>
<div class="article-text-container">
    <h6>{{article.articleType}}</h6>
    <h4>{{article.title}}</h4>
    <p class="b2 author">{{article.author.username}} &bull; {{date}}</p>
    <p *ngIf="showDescription && description" class="b2">{{description}}</p>
</div>
