<!--<div class="social-media-links-floating hidden-md hidden-sm hidden-xs" (window:resize)="onResize($event)">-->
    <!--<div *ngIf="showFloatingSocialMediaLinks">-->

        <!--<div>-->
            <!--<a href="https://www.facebook.com/Fade2Karma/" target="_blank">-->
                <!--<img src="../../assets/icons/facebook.svg">-->
            <!--</a>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a href="https://www.twitter.com/Fade2Karma/" target="_blank">-->
                <!--<img src="../../assets/icons/twitter.svg">-->
            <!--</a>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a href="https://www.url.com/Fade2Karma/" target="_blank">-->
                <!--<img src="../../assets/icons/url.svg">-->
            <!--</a>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->

<div class="F2K-column">

    <div class="row">
        <div class="col-md-12">
            <!--<h1>Hearthstone July Tier List</h1>-->
            <h1>Tier Lists</h1>
            <!--<p class="b2 date">Last Updated: July 15th, 2017</p>-->

            <p class="b2 tier-list-info">This tier list is neither totally data driven nor a complete reflection of pro
                player opinions. We try to compile the best of both worlds to give a realistic assessment of power in
                the current meta. If you disagree or have any suggestions, we highly encourage you to share your
                thoughts to Admin@F2K.gg</p>

            <div class="tier-list-button-group">
                <div class="tier-list-button standard" (click)="changeActive('STANDARD')"
                     [ngClass]="{'active': active === 'STANDARD'}">
                    <img src="../../assets/icons/standardicon.svg">
                    Hearthstone
                </div>
             <!--   <div class="tier-list-button wild" (click)="changeActive('WILD')"
                     [ngClass]="{'active': active === 'WILD'}">
                    <img src="../../assets/icons/wildicon.svg">
                    Wild
                </div>
                <div class="tier-list-button arena" (click)="changeActive('ARENA')"
                     [ngClass]="{'active': active === 'ARENA'}">
                    <img src="../../assets/icons/wildicon.svg">
                    Arena
                </div>-->

                <!--TODO comment in when Gwent is live
                <div class="tier-list-button gwent" (click)="changeActive('GWENT')"
                     [ngClass]="{'active': active === 'GWENT'}">
                    <img src="../../assets/icons/gwent.svg">
                    Gwent
                </div>-->
            </div>
        </div>
        <!--<div class="col-md-4">-->
            <!--<div class="tip-of-the-day hidden-xs hidden-sm" [ngClass]="{'short': !isLg()}">-->
                <!--<p class="tip-of-the-day-title">! TIP OF THE DAY:</p>-->
                <!--<p class="tip-of-the-day-content">Going second is better today.</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<div class="social-media-links hidden-lg" [ngClass]="{'right': isMd()}">-->
            <!--<span>-->
                <!--<a href="https://www.facebook.com/Fade2Karma/" target="_blank">-->
                    <!--<img src="../../assets/icons/facebook.svg">-->
                <!--</a>-->
            <!--</span>-->
            <!--<span>-->
                <!--<a href="https://www.twitter.com/Fade2Karma/" target="_blank">-->
                    <!--<img src="../../assets/icons/twitter.svg">-->
                <!--</a>-->
            <!--</span>-->
            <!--<span>-->
                <!--<a href="https://www.url.com/Fade2Karma/" target="_blank">-->
                    <!--<img src="../../assets/icons/url.svg">-->
                <!--</a>-->
            <!--</span>-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <!-- UNCOMMENT the code below. This is using data returned by the service. -->
    <div *ngFor="let decks of decksList[active]" class="tier-list row">
        <div *ngIf="decks" class="col-md-12">
            <p class="tier-list-title">
                {{decks.title}}
            </p>
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12 deck-list-row"
                     *ngFor="let deck of decks.list; let index=index; let odd=odd; let even=even;">
                    <f2kDeckListRow [deck]="deck" [odd]="odd" [even]="even" [index]="index" [mode]="active" [showTier]="false"></f2kDeckListRow>
                </div>
            </div>
        </div>
    </div>
</div>
