div {
  font-family: Roboto;
}
h1 {
  padding-top: 20px;
}
.b2.date {
  color: #9b9b9b;
}
.tier-list > div {
  padding: 0;
}
.tier-list-title {
  width: 100%;
  color: white;
  font-weight: 400;
  background-color: #333333;
  font-family: Roboto;
  padding: 0.7rem;
  vertical-align: middle;
}
.tier-list-header {
}
.tip-of-the-day {
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
  width: 40%;
  font-family: Roboto;
  width: 260px;
  height: 200px;
  border: 1px solid lightgray;
  padding: 20px;
}
.short {
  height: 130px;
  width: 260px;
}
.tip-of-the-day-title {
  margin: 0;
  padding: 0 0 10px 0;
  font-weight: 600;
  color: #ef3418;
  width: 100%;
  border-bottom: 1px solid #ef3418;
  line-height: 20px;
}
.tip-of-the-day-content {
  color: gray;
}
.tier-list-button-group {
  margin-top: 40px;
  margin-bottom: 20px;
}
.tier-list-button
{
  display: inline-block;
  padding: 0.6rem;
  border: 1px solid gray;
  margin: -3px;
  color: gray;
}
.tier-list-button.standard {
  border: 1px solid #ef3418;
  color: #ef3418;
}
.tier-list-button.wild {
  border-left: 0;
  border-right: 0;
}

.icon {
  border: 1px solid black;
  height: 50px; width: 50px;
  border-radius: 50%;
  position: relative;
  float: left;
  margin-right: 5px;
}
.icon > span {
  text-align: center;
  font-size: 6pt;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.icon.facebook {
  border-color: darkblue;
}
.icon.twitter {
  border-color: skyblue;
}
.social-media-links {
  display: inline;
}
.social-media-links-floating {
  width: 70px;
  margin-left: 0.5%;
  margin-top: 100px;
  z-index: 5;
  position: absolute;
}
.social-media-links-floating > div {
  margin-bottom: 10px;
}
.social-media-links > span > a {
  text-decoration: none;
}

.decklistrow {
  max-width: 100%;
}

.right {
  float: right;
}