<!--
INSTEAD OF IFRAME....
IF ITS YOUTUBE DO:
<div id="{{'youtube' + article.id}}" class="article-image"></div>
var player;
function onYouTubePlayerAPIReady() {
player = new YT.Player('ytplayer' + article.id, {
  videoId: article.imageURL.split("/")[1]; //I will make sure format is youtube/code
});

//PSEUDO CODE
on play button click do {
  if (player.getPlayerState == 1) {    // actual code, 1 means player is playing
    player.pauseVideo();
  } else {
    player.playVideo();
  }
}
}


-->
<a [routerLink]="[url]" class="overlay"></a>

<img #imageNode *ngIf="imageSrc" (error)="updateUrl($event)" [src]='imageSrc'>

<div #textContainerNode class="text-container">
    <h4 *ngIf="teasedItem.title" class="title">{{teasedItem.title.slice(0, 50)}}</h4>
    <h6 *ngIf="info">{{info}}</h6>
    <p *ngIf="teasedItem.author" class="info, b2">{{teasedItem.author.username}} • {{date}}</p>
</div>
