<!--
INSTEAD OF IFRAME....
IF ITS YOUTUBE DO:
<div id="{{'youtube' + article.id}}" class="article-image"></div>
var player;
function onYouTubePlayerAPIReady() {
player = new YT.Player('ytplayer' + article.id, {
  videoId: article.imageURL.split("/")[1]; //I will make sure format is youtube/code
});

//PSEUDO CODE
on play button click do {
  if (player.getPlayerState == 1) {    // actual code, 1 means player is playing
    player.pauseVideo();
  } else {
    player.playVideo();
  }
}
}


-->
<a [routerLink]="[url]" class="overlay"></a>

<img *ngIf="teasedItem.imageURL && (teasedItem.imageURL.indexOf('youtube') !== -1 || teasedItem.imageURL.indexOf('twitch') !== -1)" (error)="updateUrl($event)" [src]='image'>
<img *ngIf="!teasedItem.imageURL && type === 'deck' && teasedItem.game === 'HS'" src="assets/Hearthstone_Square/{{teasedItem.heroClass | lowercase}}.jpg">
<img *ngIf="!teasedItem.imageURL && type === 'deck' && teasedItem.game === 'GWENT'" src="assets/GwentLeaders_Square/{{teasedItem.leader.name.replace('\'', '-').replace(' ', '') | lowercase}}.jpg">
<img *ngIf="teasedItem.imageURL && teasedItem.imageURL.indexOf('youtube') === -1 && teasedItem.imageURL.indexOf('twitch') === -1" src="{{ teasedItem.imageURL && teasedItem.imageURL.indexOf('http') !== -1 ? teasedItem.imageURL : 'assets/images/' + teasedItem.imageURL}}">

<div class="text-container">
    <h4 *ngIf="teasedItem.title" class="title">{{teasedItem.title.slice(0, 50)}}</h4>
    <p *ngIf="teasedItem.author" class="info, b2">{{teasedItem.author.username}} &bull; {{date}}</p>
</div>
