:host {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
    height: 52px;
    background: #f7f7f7;
    border: 1px solid #e7e7e7;
    margin: auto;
}

f2kOnlineStreamerTile {
    transition: left 600ms linear;
    position: absolute;
}

@media (max-width: 768px) {
    :host {
        width: 100vw;
        /*max-width: 480px;*/
    }
}

@media (min-width: 768px) {
    :host {
        width: 768px;
        /*margin-left: -20px;*/
    }
}

@media (min-width: 1220px) {
    :host {
        width: 1220px;
        /*margin-left: -20px;*/
        height: 72px;
    }
}
