:host {
    display: block;
}

.desktop {
  display: block;
}

.tablet, .phone {
  display: none;
}

.cards-containers {
    border-bottom: #e7e7e7 1px solid;
    padding-bottom: 40px;
}

.cards-container:first-child {
    margin-right: 20px;
}

.cards-container {
    display: inline-block;
    width: 380px;
    float: left;
}

.cards-container > div:first-child > p {
    margin-top: 0;
}

.deck-guide-section {
    margin: 40px auto 34px auto;
    /*width: 740px;*/
}

.deck-hub-container {
    position: relative;
    top: 32px;
    margin-bottom: 73px;
}

.deck-header,
.deck-body,
.deck-footer {
    width: 780px;
}

.social-share {
    position: absolute;
    float: left;
    margin-top: 40px;
    left: -60px;
}

.social-share-tablet {
    display: none;
}

.share-rate-phone {
    display: none;
}

.deck-body {
    float: left;
    border-top: #e7e7e7 1px solid;
}

.deck-footer {
    padding-bottom: 40px;
}

h1.deck-title {
    margin-top: 6px;
}

.deck-info {
    display: inline-block;
    margin-bottom: -14px;
}

 /* deck cycling  */



.f2k-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    cursor: pointer;
    margin-bottom: 16px;
}

.f2k-nav-tabs {
    display: block;
    border-bottom: 1px solid #ddd;
}

.f2k-nav-item {
    display: inline-block;
    margin-bottom: -1px;
}

.f2k-nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #666;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
}

.f2k-nav-tabs > li > a {
    transition: background-color 200ms ease;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.f2k-nav-tabs > li:hover > a {
    background-color: rgba(239, 52, 24, .1);
}

.f2k-nav-tabs > li.active > a {
    color: #333;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

/* Article Info Clearfix */

.deck-info:after {
    content: "";
    display: table;
    clear: both;
}

f2kAuthorTile {
    float: left;
    margin-right: 40px;
}

.deck-date {
    float: left;
    margin: 0 40px;
}

.deck-date .date-string {
    color: #9B9B9B;
}

f2k-rating-box {
    margin-left: 40px;
}

.deck-content {
    padding-top: 40px;
}

.deck-content p {
    color: #333333;
    margin: 34px auto;
    width: 740px;
}

.deck-content img,iframe {
    width: 780px;
}

.deck-guide-section img{
    width: 780px;
}
.deck-guide-section iframe{
    width: 780px;
	height: 450px;
	border:0;
}


/* TODO: Button specs for all layouts */

.btn-expand-comments {
    border: none;
    height: 40px;
    padding: 0 20px;
    background-color: #EF3418;
    color: white;
    font-weight: bold;
    margin-bottom: 12px;
}

.btn-copy-deck-code {
    border: none;
    height: 40px;
    margin-top: 20px;
    padding: 0 20px;
    width: 360px;
    background-color: #EF3418;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


/* Article Comments Clearfix */

.deck-comments:after {
    content: "";
    display: table;
    clear: both;
}

.btn-expand-comments i.fa {
    transform: scale(2, 1.5);
    margin-left: 0.5em;
    font-weight: normal;
}

.footer-ad {
    width: 780px;
    margin-top: 40px;
}

.recommended {
    float: left;
    margin-left: 40px;
    width: 360px;
}

.side-ad {
    width: 300px;
    margin: 40px auto;
}

.cards-container > div > span {
    margin: 8px 0 12px 0;
    display: inline-block;
}


/******************/


/* 768px - 1219px */


/******************/

@media(max-width: 1219px) {
    .desktop {
      display: none;
    }
    .tablet {
      display: block;
    }
    .deck-and-ad {
      margin-top: 40px;
    }
    .graph-container {
      float: left;
      width: 354px;
    }
    .btn-copy-deck-code {
      width: 354px;
    }
    .deck-hub-container:first-child {
        top: 26px;
    }
    .cards-container {
        width: 354px;
    }
    .deck-guide-section {
      margin: 40px auto;
    }
    .deck-header,
    .deck-body,
    .deck-footer {
        width: 728px;
    }
    .social-share {
        display: none;
    }
    .social-share-tablet {
        display: inline-block;
        float: right;
    }
    .deck-body {
        float: none;
    }
    .deck-footer {
        padding-bottom: 30px;
    }
    h1.deck-title {
        margin-top: 8px;
    }
    f2kAuthorTile {
        margin-right: 20px;
    }
    .deck-date {
        margin: 0 20px;
    }
    f2k-rating-box {
        margin-left: 20px;
    }
    /* TODO: social-share positioning for tablet screen */
    .deck-content {
        padding-top: 30px;
    }
    .deck-content p {
        margin: 24px auto;
        width: 688px;
    }
    .deck-content p:last-child {
        margin-bottom: 23px;
    }
    .deck-content img {
        width: 728px;
    }

	.deck-guide-section img{
		width: 728px;
	}
	.deck-guide-section iframe{
		width: 728px;
		height: 420px;
	}

    .footer-ad {
        display: none;
    }
    .recommended {
        float: none;
        margin-left: 0;
    }
    /* Recommended Clearfix */
    .recommended:after {
        content: "";
        display: table;
        clear: both;
    }
    .recommended-teaser {
        float: left;
    }
    .side-ad {
        float: left;
        margin: 0 0 0 40px;
    }
}


/***************/


/* 0px - 767px */


/***************/

@media(max-width: 767px) {
    .tablet {
      display: none;
    }
    .phone {
      display: block;
    }
    .deck-hub-container:first-child {
        top: 14px;
    }
    .graph-container {
      float: none;
      margin: 20px 10px;
      max-width: 440px;
      width: auto;
     }
    .btn-copy-deck-code {
      width: Calc(100% - 40px);
      max-width: 440px;
      margin: 20px auto 40px auto;
    }
    .cards-container {
      float: none;
      width: Calc(100% - 40px);
      max-width: 440px;
    }
    .deck-header,
    .deck-footer {
        width: 100%;
        max-width: 440px;
    }
    .deck-body {
        width: 100%;
        max-width: 460px;
    }
    .deck-footer {
        padding-bottom: 20px;
    }
    .social-share-tablet {
        display: none;
    }
    f2k-rating-box {
        display: none;
    }
    .share-rate-phone {
        display: block;
        margin-top: 23px;
        position: relative;
        height: 35px;
    }
    .social-share-phone {
        float: left;
        height: 30px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    h1.deck-title {
        margin-top: 7px;
        width: 100%;
        max-width: 440px;
    }
    /* TODO: f2k-rating-box positioning for phone screen */
    /* TODO: social-share positioning for phone screen */
    .deck-content {
        padding-top: 22px;
    }
    .deck-content p {
        margin: 15px auto;
        width: 100%;
        max-width: 440px;
    }
    .deck-content p:last-child {
        margin-bottom: 13px;
    }
    .deck-content img {
        width: 100%;
        max-width: 460px;
    }

	.deck-guide-section img {
        width: 100%;
        max-width: 460px;
    }
	.deck-guide-section iframe{
		position: relative;
		width: 100%;		/* desired width */
		max-width:460px;
		height:53.7vw;
		max-height:260px;
	}
    .btn-expand-comments {
        float: none;
        width: 100%;
        margin-bottom: 40px;
    }
    .recommended {
        width: 100%;
        max-width: 440px;
    }
    .recommended-teaser {
        float: none;
    }
    .side-ad {
        float: none;
        margin: 0 auto 20px auto;
    }
}

@media(min-width: 1200px) {
    f2kRecommendedContainer {
        margin-top: 40px;
    }
}
