<div *ngIf="deck" class="F2K-column">
    <div class="deck-hub-container">
        <div class="deck-page">

            <div class="deck-header">
                <f2k-breadcrumb [title]="deck.title"></f2k-breadcrumb>
                <h1 class="deck-title">{{deck.title}}</h1>
                <div class="deck-info">
                    <f2kAuthorTile style="display: inline-block" [author]="deck.author"></f2kAuthorTile>
                    <div class="deck-date">
                        <h5>Date Posted:</h5>
                        <span class="b2 date-string">{{(deck.editDate || deck.date) | date:'MMM d, y'}}</span>
                    </div>
                    <f2k-rating-box class="desktop" [rating]="deck.rating" [itemId]="deck.id" [itemType]="'deck'"></f2k-rating-box>
                    <div class="social-share-tablet">
                        <f2k-social-share [text]="deck.title"></f2k-social-share>
                    </div>
                </div>
            </div>

            <div class="social-share">
                <f2k-social-share [text]="deck.title"></f2k-social-share>
            </div>

            <div class="deck-body">
                <div class="share-rate-phone">
                    <div class="social-share-phone">
                        <f2k-social-share [text]="deck.title"></f2k-social-share>
                    </div>
                </div>
                <div class="deck-content">
                    <div class="cards-containers clearfix">
                        <div class="cards-container">
                            <div *ngFor="let cell of leftColumn">
                                <span class="b2">{{cell.title}}</span>
                                <f2kCardComponent *ngFor="let card of cell.cards" [card]="card" [game]="deck.game"
                                                  (mouseenter)="displayedCard = card; displayCard = true; "
                                                  (mousemove)="positionDisplayedCard($event)"
                                                  (mouseleave)="displayCard = false"></f2kCardComponent>
                            </div>
                        </div>

                        <div class="cards-container">
                            <div *ngFor="let cell of rightColumn">
                                <span class="b2">{{cell.title}}</span>
                                <f2kCardComponent *ngFor="let card of cell.cards" [card]="card" [game]="deck.game"
                                                  (mouseenter)="displayedCard = card; displayCard = true"
                                                  (mousemove)="positionDisplayedCard($event)"
                                                  (mouseleave)="displayCard = false"></f2kCardComponent>
                            </div>
                        </div>
                    </div>
                    <!-- (mouseenter)="hovering($event, 'enter')" (mouseleave)="hovering($event, 'leave')" -->

                    <div class="deck-and-ad tablet clearfix">
                        <div class="graph-container">
                            <f2kHearthstoneMana *ngIf="chartData" [chartData]="chartData"></f2kHearthstoneMana>
                            <button *ngIf="deck.mode === 'CON'" class="btn-copy-deck-code" (click)="copyDeckCode()">COPY DECK CODE</button>
                        </div>
                        <f2k-ad class="side-ad" [adStyle]="{'display': 'block'}" [adFormat]="'fluid'" [adLayoutKey]="'-7b-1m-75+i4+5r'" [adSlot]="'7360843877'"></f2k-ad>
                    </div>

                    <div class="phone graph-container">
                        <f2kHearthstoneMana *ngIf="chartData" [chartData]="chartData"></f2kHearthstoneMana>
                        <button *ngIf="deck.mode === 'CON'" class="btn-copy-deck-code" (click)="copyDeckCode()">COPY DECK CODE</button>
                    </div>
                    <f2k-ad class="phone side-ad" [adStyle]="{'display': 'block'}" [adFormat]="'fluid'" [adLayoutKey]="'-7b-1m-75+i4+5r'" [adSlot]="'7360843877'"></f2k-ad>

                    <div class="deck-guide-section" [innerHTML]="CONTENT"></div>

                    <f2kRecommendedContainer *ngIf="decks.length > 0" class="tablet recommended-teaser" [title]="'SIMILAR DECKS'"
                        [items]="decks" [itemType]="'deck'"></f2kRecommendedContainer>

                    <!--<div class="deck-comments phone">-->
                        <!--<button class="btn-expand-comments">COMMENTS-->
                            <!--<i class="fa" [ngClass]="{'fa-angle-down': true, 'fa-angle-up': false}"></i>-->
                        <!--</button>-->
                    <!--</div>-->

                    <f2kRecommendedContainer *ngIf="decks.length > 0" class="phone recommended-teaser" [title]="'SIMILAR DECKS'"
                        [items]="decks" [itemType]="'deck'"></f2kRecommendedContainer>
                    <!-- TODO: itemType -->

                </div>
                <div class="deck-footer">
                    <button class="btn-expand-comments" (click)="showComments = !showComments; parseHTML()">COMMENTS
                        <i class="fa" [ngClass]="{'fa-angle-down': !showComments, 'fa-angle-up': showComments}"></i>
                    </button>

                    <div #commentContainer class="article-comments" [ngStyle]="{opacity: showComments ? '1' : '0', height: showComments ? '' : '0'}"></div>

                    <f2k-ad class="footer-ad" [adStyle]="{'display': 'inline-block', 'width.px': '728', 'height.px': '90'}"></f2k-ad>
                </div>
            </div>

            <div class="recommended desktop">
                <f2kHearthstoneMana *ngIf="chartData" [chartData]="chartData"></f2kHearthstoneMana>
                <button *ngIf="deck.mode === 'CON'" class="btn-copy-deck-code" (click)="copyDeckCode()">COPY DECK CODE</button>
                <f2k-ad class="side-ad" [adStyle]="{'display': 'block'}" [adFormat]="'fluid'" [adLayoutKey]="'-7b-1m-75+i4+5r'" [adSlot]="'7360843877'"></f2k-ad>
                <f2kRecommendedContainer *ngIf="decks.length > 0" class="recommended-teaser" [itemType]="'deck'" [title]="'SIMILAR DECKS'" [items]="decks"></f2kRecommendedContainer>
                <!-- TODO: itemType -->
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>

<div class="deck-display" *ngIf="displayCard" [ngClass]="{ 'left' : displayedCardLeft, 'top' : displayedCardUp }"
     [ngStyle]="{'top.px': displayCardTopPx, 'left.px': displayCardleftPx}">
    <!-- TODO make a component -->
    <img [src]="getImageSrc(displayedCard, deck.game, false)">
</div>
