f2kdecklistrow {
    float: left;
}

f2kdecklistrow:nth-child(2n + 1) {
    margin-right: 10px;
}

.grid-list-container {
    margin-bottom: 20px;
}

.tier-list-title {
    color: white;
    background-color: #333333;
    vertical-align: middle;
    margin-bottom: 10px;
}

.tier-list-title > div > span {
    color: white;
    float: left;
    padding: 12px 0;
    text-align: center;
}

.tier-list-title > .titles > span {
    padding-right: 20px;
    padding-left: 20px;
}

.filters > span {
    cursor: pointer;
}

.filters > span:not(:first-child) {
    border-left: 1px solid white;
}

.tier-list-title > .filters > .selected {
    color: red
}

.btn-group {
    padding: 40px 0;
    max-width: 215px;
    margin: 0 auto;
}

.btn-group > button {
    border: 1px solid red;
    background: white;
    border-radius: 0;
    float: left;
}

.btn-group > button:not(:last-child) {
    border-right: 0;
}

f2kHearthstoneFilter {
    padding-bottom: 30px;
    display: block;
}

h1 {
    padding-top: 30px;
    padding-bottom: 10px;
}

.titles {
    display: none;
}

@media (max-width: 1199px) {
    .filters {
        text-align: center;
    }

    .filters > span {
        width: Calc(100% / 3 - 1px);
    }
}

@media (max-width: 768px) {
    .tier-list-title {
        width: calc(100vw - 40px);
        max-width: 440px;
    }
}

@media (min-width: 1220px) {
    .titles {
        display: block;
    }

    .filters {
        float: right;
    }

    .filters > span {
        border-left: 1px solid white;
    }

    .b2.server {
        width: 100px;
    }

    .b2.dust {
        width: 90px;
    }

    .b2.date {
        width: 130px;
    }
}
