h1, h2, h3, h4, h5, h6, .b1, .b2 {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.b1, .b2 {
    font-weight: normal;
}

@media (max-width: 767px) {
    h1 {
        font-size: 24px;
        line-height: 30px;
    }

    h2 {
        font-size: 20px;
        line-height: 26px;
    }

    h3 {
        font-size: 18px;
        line-height: 24px;
    }

    h4 {
        font-size: 15px;
        line-height: 21px;
    }

    h5 {
        font-size: 12px;
        line-height: 18px;
    }

    h6 {
        font-size: 10px;
        line-height: 10px;
    }

    .b1 {
        font-size: 16px;
        line-height: 24px;
    }

    .b2 {
        font-size: 12px;
        line-height: 20px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 28px;
        line-height: 34px;
    }

    h2 {
        font-size: 24px;
        line-height: 30px;
    }

    h3 {
        font-size: 20px;
        line-height: 26px;
    }

    h4 {
        font-size: 15px;
        line-height: 21px;
    }

    h5 {
        font-size: 12px;
        line-height: 18px;
    }

    h6 {
        font-size: 10px;
        line-height: 10px;
    }

    .b1 {
        font-size: 16px;
        line-height: 24px;
    }

    .b2 {
        font-size: 12px;
        line-height: 20px;
    }
}

@media (min-width: 1220px) {
    h1 {
        font-size: 32px;
        line-height: 38px;
    }

    h2 {
        font-size: 28px;
        line-height: 34px;
    }

    h3 {
        font-size: 24px;
        line-height: 30px;
    }

    h4 {
        font-size: 19px;
        line-height: 25px;
    }

    h5 {
        font-size: 14px;
        line-height: 22px;
    }

    h6 {
        font-size: 10px;
        line-height: 10px;
    }

    .b1 {
        font-size: 18px;
        line-height: 28px;
    }

    .b2 {
        font-size: 14px;
        line-height: 22px;
    }
}
