<div *ngIf="article" class="article-page">
    <div class="article-header">

        <f2k-breadcrumb *ngIf="deck" [title]="article.title"></f2k-breadcrumb>
        <h1 class="article-title">{{article.title}}</h1>
        <div class="article-info">
            <f2kAuthorTile style="display: inline-block" [author]="article.author"></f2kAuthorTile>
            <div class="article-date">
                <h5>Date Posted:</h5>
                <span class="b2 date-string">{{(article.changeDate || article.date) | date}}</span>
            </div>
            <f2k-rating-box [rating]="article.rating" [itemId]="article.id" [itemType]="'article'"></f2k-rating-box>
            <div class="social-share-tablet">
                <f2k-social-share [text]="article.title"></f2k-social-share>
            </div>
        </div>
    </div>

    <div #socialShare class="social-share">
        <f2k-social-share [text]="article.title"></f2k-social-share>
    </div>

    <div #articleBody class="article-body">
        <div class="share-rate-phone">
            <div class="social-share-phone">
                <f2k-social-share [text]="article.title"></f2k-social-share>
            </div>
            <f2k-rating-box class="rating-box-phone" [rating]="article.rating" [itemId]="article.id" [itemType]="'article'"></f2k-rating-box>
        </div>
		 <div class="article-content" [innerHtml]="CONTENT"></div>

        <div class="article-footer">
            <div class="article-comments">
                <button class="btn-expand-comments" (click)="facebookComments = true; showComments = !showComments">COMMENTS
                    <i class="fa" [ngClass]="{'fa-angle-down': facebookComments, 'fa-angle-up': facebookComments}"></i>
                </button>

                    <div [ngStyle]="{display: showComments ? 'block' : 'none'}"class="fb-comments" data-href="http://www.f2k.gg/#/articles/f2k_signs_streamer_aggedon_22" data-numposts="5"></div>
            </div>	
                
            <div class="footer-ad">AD</div>
				<div class="fb-comments" data-href="http://www.f2k.gg/#/articles/f2k_signs_streamer_aggedon_22" data-numposts="5"></div>
			</div>
    </div>

    <div #recommendedTeaser class="recommended">
        <f2kRecommendedContainer *ngIf="articles && articles.length > 0" class="recommended-teaser" [itemType]="'article'" [title]="'YOU MAY ALSO LIKE'"
                                 [items]="articles"></f2kRecommendedContainer>
        <div class="side-ad">AD</div>
    </div>
    <div class="clearfix"></div>
</div>
