<div class="article-page">

    <div class="article-header">
        <f2k-breadcrumb [title]="article.title"></f2k-breadcrumb>
        <h1 class="article-title">{{article.title}}</h1>
        <div class="article-info">
            <f2kAuthorTile style="display: inline-block" [author]="article.author"></f2kAuthorTile>
            <div class="article-date">
                <h5>Date Posted:</h5>
                <span class="b2 date-string">{{article.date | date}}</span>
            </div>
            <f2k-rating-box [rating]="article.rating" [itemId]="article.id" [itemType]="'article'"></f2k-rating-box>
            <div class="social-share-tablet">
                <f2k-social-share></f2k-social-share>
            </div>
        </div>
    </div>

    <div class="social-share">
        <f2k-social-share></f2k-social-share>
    </div>

    <div class="article-body">
        <div class="share-rate-phone">
            <div class="social-share-phone">
                <f2k-social-share></f2k-social-share>
            </div>
            <f2k-rating-box class="rating-box-phone" [rating]="article.rating" [itemId]="article.id" [itemType]="'article'"></f2k-rating-box>
        </div>
        <div class="article-content" [innerHtml]="article.content"></div>
        <div class="article-footer">
            <div class="article-comments">
                <button class="btn-expand-comments">COMMENTS
                    <i class="fa" [ngClass]="{'fa-angle-down': true, 'fa-angle-up': false}"></i>
                    <!-- TODO: comments open...comments closed -->
                </button>
                <!-- TODO: Facebook Comments API -->
            </div>
            <div class="footer-ad">AD</div>
        </div>
    </div>

    <div class="recommended">
        <f2kRecommendedContainer class="recommended-teaser" [itemType]="'article'" [title]="'YOU MAY ALSO LIKE'"
                                 [items]="[articles]"></f2kRecommendedContainer>
        <div class="side-ad">AD</div>
    </div>
    <div class="clearfix"></div>

</div>
