<div *ngIf="article" class="article-page">
    <div class="article-header">

        <f2k-breadcrumb *ngIf="article" [title]="article.title"></f2k-breadcrumb>
        <h1 class="article-title">{{article.title}}</h1>
        <div class="article-info">
            <f2kAuthorTile style="display: inline-block" [author]="article.author"></f2kAuthorTile>
            <div class="article-date">
                <h5>Date Posted:</h5>
                <span class="b2 date-string">{{(article.editDate || article.date) | date}}</span>
            </div>
            <f2k-rating-box [rating]="article.rating" [itemId]="article.id" [itemType]="'article'"></f2k-rating-box>
            <div class="social-share-tablet">
                <f2k-social-share [text]="article.title"></f2k-social-share>
            </div>
        </div>
    </div>

    <div #socialShare class="social-share">
        <f2k-social-share [text]="article.title"></f2k-social-share>
    </div>

    <div #articleBody class="article-body">
        <div class="share-rate-phone">
            <div class="social-share-phone">
                <f2k-social-share [text]="article.title"></f2k-social-share>
            </div>
            <f2k-rating-box class="rating-box-phone" [rating]="article.rating" [itemId]="article.id" [itemType]="'article'"></f2k-rating-box>
        </div>
		 <div #contentContainer class="article-content" [innerHtml]="CONTENT"></div>

        <div class="article-footer">
            <button class="btn-expand-comments" (click)="showComments = !showComments; parseHTML()">COMMENTS
                <i class="fa" [ngClass]="{'fa-angle-down': !showComments, 'fa-angle-up': showComments}"></i>
            </button>

            <div #commentContainer class="article-comments" [ngStyle]="{opacity: showComments ? '1' : '0', height: showComments ? '' : '0'}"></div>
            <!--<f2k-ad class="footer-ad" [adStyle]="{'display': 'inline-block', 'width.px': '728', 'height.px': '90'}" [adSlot]="'4732634932'"></f2k-ad>-->
        </div>
    </div>

    <div #recommendedTeaser class="recommended">
        <f2kRecommendedContainer *ngIf="article?.recommended?.length" class="recommended-teaser" [itemType]="'article'" [title]="'YOU MAY ALSO LIKE'"
                                 [items]="article.recommended"></f2kRecommendedContainer>
        <!--<f2k-ad class="side-ad" [adStyle]="{'display': 'block'}" [adFormat]="'fluid'" [adLayoutKey]="'-7b-1m-75+i4+5r'" [adSlot]="'7199016179'"></f2k-ad>-->
    </div>
    <div class="clearfix"></div>
</div>
