<ul class="social-share-icons">
    <li class="fb-icon">
        <a target="_blank" href="{{'https://www.facebook.com/sharer/sharer.php?u='+this.router.url}}">
            <img src="assets/icons/facebook.svg" alt="Share on Facebook">
        </a>
    </li>
    <li class="twitter-icon">
        <a target="_blank" href="{{'https://twitter.com/intent/tweet?text='+text+'url='+this.router.url}}">
            <img src="assets/icons/twitter.svg" alt="Share on Twitter">
        </a>
    </li>
    <li class="link-icon">
    <span (click)="copyToClipboard()">
        <img src="assets/icons/url.svg" alt="Copy Article Link">
    </span>
    </li>
</ul>
