<a *ngIf="author.twitchData" href="{{author.twitchData.channel.url}}" target="_blank"></a>
<div class="tint">
    <img class="img-circle image" src="assets/images/users/{{author.username | lowercase}}.jpg"> <!--TODO default image-->
</div>
<div class="author-info">
    <h5>{{author.username}}</h5>

    <div class="text-container">
        <div *ngIf="author.twitchData">
            <p class="b2 indicator">Live</p>
            <div class="point"></div>
            <p class="b2 game">{{author.game}}</p>
        </div>

        <p *ngIf="!author.twitchData" class="b2">Offline</p>
    </div>
</div>
