.f2k-visible-lg {
    display: none;
}

.twitter-container {
    display: none;
}

f2kTierListComponent {
    float: right;
}

.article-container {
    display: inline-block;
}

.article-container f2kArticlesTile {
    float: left;
}

.tier-title {
    font-family: 'Roboto', sans-serif;
    line-height: 26px; /* TODO */
    font-size: 28px; /* TODO */
}

f2k-ad {
    display: none;
}

@media (max-width: 767px) {
    f2kArticlesTile {
        max-width: 480px;
    }

    f2kTierListComponent,
    f2kTopDecks,
    .F2K-column > .featured,
    .article-container f2kArticlesTile,
    f2kOnlineSteamerScroll {
        margin-bottom: 10px;
    }

    f2kTierListComponent,
    f2kTopDecks {
        margin-left: -10px;
    }

    f2kTierListComponent {
        max-width: 500px;
        float: left;
    }
}

@media (min-width: 768px) {
    f2k-ad,
    f2kTierListComponent,
    f2kTopDecks,
    f2kOnlineSteamerScroll,
    .twitter-container,
    .F2K-column > .featured,
    .article-container f2kArticlesTile {
        margin-bottom: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1219px) {
    .article-container f2kArticlesTile:nth-child(2n+2) {
        margin-left: 20px;
    }

    .article-container f2kArticlesTile:last-child {
        display: none;
    }

    f2kTopDecks {
        margin-left: -20px;
    }

    f2kTierListComponent {
        margin-right: -20px;
    }
}

@media (min-width: 1220px) {
    .f2k-visible-lg {
        display: block
    }

    .article-container {
        width: Calc(100% - 400px);
    }

    .article-container f2kArticlesTile:first-child {
        display: none;
    }

    .article-container f2kArticlesTile:nth-child(2n+1) {
        margin-left: 20px;
    }

    .twitter-container {
        display: block;
        float: right;
        width: calc(100% - 2px);
        border: 1px solid #e7e7e7;
    }

    f2k-ad {
        float: right;
        display: inline-block;
        width: 300px;
        margin-right: 40px;
        margin-left: 40px;
    }

    .side-container {
        float: right;
        width: 380px;
    }

    f2kTierListComponent {
        margin-top: -147px;
    }
}

