<f2kOnlineSteamerScroll *ngIf="onlineStreamers.length > 0" [onlineStreamers]="onlineStreamers"></f2kOnlineSteamerScroll>
<div class="F2K-column">
    <div class="clearfix featured" *ngIf="featuredArticles.length > 1">
        <f2kArticlesTile *ngIf="featuredArticles[0]" class="featured" style="float: left" [showDescription]="true" [article]="featuredArticles[0]"></f2kArticlesTile>
        <f2kArticlesTile *ngIf="featuredArticles[1]" class="f2k-visible-lg next-to-featured" style="float: right" [showDescription]="true" [article]="featuredArticles[1]"></f2kArticlesTile>
    </div>

    <f2kTierListComponent *ngIf="tierOne.length > 0 && tierTwo.length > 0" [type]="deck" [title]="'F2K HEARTHSTONE TIER LIST'" [tierOne]="tierOne" [tierTwo]="tierTwo"></f2kTierListComponent>

    <div class="clearfix article-container-one" *ngIf="firstTilesColumn.length > 0">
        <f2kArticlesTile *ngFor="let article of firstTilesColumn.slice(0, 6)" [article]="article"></f2kArticlesTile>
    </div>

    <f2kTopDecks *ngIf="decksArr.length > 0" [itemArr]="decksArr" [title]="'TOP DECKS'" class="clearfix"></f2kTopDecks>

    <div class="clearfix article-container-two" *ngIf="secondTilesColumn.length > 0">
        <f2kArticlesTile *ngFor="let article of secondTilesColumn.slice(0, 6)" [article]="article"></f2kArticlesTile>
    </div>
</div>
