.f2k-visible-lg {
    display: none;
}

f2kTierListComponent {
    float: right;
}

.article-container-one f2kArticlesTile,
.article-container-two f2kArticlesTile {
    float: left;
}

.tier-title {
    font-family: 'Roboto', sans-serif;
    line-height: 26px; /* TODO */
    font-size: 28px; /* TODO */
}

.article-container-two f2kArticlesTile:first-child {
    display: none;
}

@media (max-width: 767px) {
    f2kArticlesTile {
        max-width: 480px;
    }

    f2kOnlineSteamerScroll {
        margin-bottom: 10px;
    }

    .F2K-column > .featured {
        margin-bottom: 20px;
    }

    .article-container-one f2kArticlesTile,
    .article-container-two f2kArticlesTile {
        margin-bottom: 10px;
    }

    f2kTopDecks {
        margin-left: -10px;
        margin-bottom: 20px;
    }

    .article-container-one,
    .article-container-two {
        margin-bottom: 10px;
    }

    f2kTierListComponent {
        margin-left: -10px;
        margin-bottom: 20px;
        max-width: 500px;
        float: left;
    }
}

@media (min-width: 768px) {
    .F2K-column > .featured {
        margin-bottom: 40px;
    }

    .article-container-one f2kArticlesTile,
    .article-container-two f2kArticlesTile {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1219px) {
    f2kOnlineSteamerScroll {
        margin-bottom: 40px;
    }

    .article-container-one f2kArticlesTile:nth-child(2n+2),
    .article-container-two f2kArticlesTile:nth-child(2n+1) {
        margin-left: 20px;
    }

    f2kTopDecks {
        margin-left: -20px;
        margin-bottom: 40px;
    }

    .article-container-one,
    .article-container-two {
        margin-bottom: 20px;
    }

    f2kTierListComponent {
        margin-right: -20px;
        margin-bottom: 40px;
    }
}

@media (min-width: 1220px) {
    f2kOnlineSteamerScroll {
        margin-bottom: 20px;
    }

    .f2k-visible-lg {
        display: block
    }

    .F2K-column {
        margin-bottom: 60px;
    }

    .article-container-two f2kArticlesTile:first-child {
        display: block;
    }

    .article-container-one f2kArticlesTile:first-child,
    .article-container-one f2kArticlesTile:last-child,
    .article-container-two f2kArticlesTile:last-child {
        display: none;
    }

    .article-container-one f2kArticlesTile:nth-child(2n+1),
    .article-container-two f2kArticlesTile:nth-child(2n+2) {
        margin-left: 20px;
    }

    .article-container-one {
        margin-bottom: 20px;
    }

    f2kTopDecks {
        margin-bottom: 40px;
    }

    .article-container-one,
    .article-container-two {
        width: Calc(100% - 400px);
    }
}

