<a [routerLink]="user.username + '_' + user.id"></a>

<div class="player-image-container tint">
    <img class="player-image" src="assets/images/users/{{user.username | lowercase}}.jpg" onError="this.src='./assets/images/logo-f2k.png'">
</div>

<div class="text-container">
    <h5 class="player-name">{{user.username}}</h5>

    <div *ngIf="user.twitchData">
        <p class="b2 indicator">Live</p>
        <div class="point"></div>
        <p class="b2 game">{{user.twitchData.game}}</p>
    </div>
    <p *ngIf="!user.twitchData" class="b2">Offline</p>
</div>
